<% include header%>
<body>
    <h1>
        About Mediocre Media!
    </h1>
    <p>
        Mediocre Media is a internet media database designed to let users create and rate movies, games, and music. It was developed b y Nick Shively for a CS355 database project. Contact at 555-555-5555 or address@email.com
    </p>
</body>
<% include footer%>