<% include header %>

<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Title</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/TGames/?gameid=<%= rs[i].GameID %>"> <%= rs[i].Title %></a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No games are entered into the Games database table.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/TGames/create">Create New Game</a>
</div>

<% include footer %>