<h2>Movie Inserted</h2>
<% if(rs.length > 0) { %>

Title: <%= rs[0].Title %> <br />
Genre: <%= rs[0].Genre %> <br />
Director: <%= rs[0].Director %> <br />

<% } else { %>
No movie matched this movie id <%= movieid %>.
<% } %>